.outline-btn {
border-radius: 1.25rem;
border: 4px solid #5CD65C;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: grid;
place-items:center;
height: 4.125rem;
width:17.6875rem;
color: #000;
font-size: 1.125rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.big-primery-button {
    border-radius: 1.25rem;
background: #32B632;
color: #FFF;
font-size: 1rem;
font-style: normal;
font-weight: 800;
line-height: normal;
min-height: 4.125rem;
display: grid;
place-items: center;
}
.blue-primary_button {
  border-radius: 1.25rem;
background: #5C85FF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 20.84681rem;
min-height: 4.95375rem;
transform: rotate(2.538deg);
color: #FFF;
font-size: 1.875rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.small-blue-primary_button {
  border-radius: 0.625rem;
  background: #5C85FF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 20.84681rem;
  min-height: 2.56044rem;
  color: #FFF;
font-size: 1.125rem;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.Augmenter_discrption {
  color: #000;
  text-align: center;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.on_titel {

    padding: clamp(.5rem , 1rem , 1.25rem) ;
    background: #5CD65C;
    color: #FFF;
    text-align: center;
    font-size: clamp(1.25rem , 2rem , 2.25rem);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    transform: rotate(-9.462deg);
  }
  .blue-card {
    border: 4px solid #5C85FF !important;
  }

  .grid_three_cards {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  
  @media (min-width: 768px) {
    .grid_three_cards {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media (min-width: 1024px) {
    .grid_three_cards {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .sherd_button {
    padding: .4em 1em;
    background-color: var(--blue-600);
    color: #FFF;
    font-size: clamp( .4rem, 4vw , 1.5rem);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 10px;
      }
  .popup-button {
    border-radius: 0.625rem;
    background: #5CD65C;
    width: 80%;
    min-height: 2.375rem;
    display: grid;
    place-items: center;
    color: white;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
.input-number {
  border-radius: 0.625rem;
border: 4px solid #003C00;
opacity: 0.4;
background: #FFF;
max-width: 4.875rem;
height: 5.875rem;
&::placeholder {
  font-size: 5rem;
  text-align: center;
}
}
.timer-subtitel {
  color: #000;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
max-width: 37ch;
    text-align: center;
}
.post-titel {
  color: #000;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.shadow-box {
  border-radius: 1.25rem;
background: #FFF;
box-shadow: 0px 0px 33.5px 0px rgba(0, 0, 0, 0.10);
}
.normal-size-icon {
max-width: 1.875rem;
max-height: 1.99575rem;
}

/* custem checkbox  */
  .checkbox-wrapper-23 *,
  .checkbox-wrapper-23 *:after,
  .checkbox-wrapper-23 *:before {
    box-sizing: border-box;
  }

  .checkbox-wrapper-23 input {
    position: absolute;
    opacity: 0;
  }
    
  .checkbox-wrapper-23 input:checked + label svg path {
    stroke-dashoffset: 0;
  }
    
  .checkbox-wrapper-23 input:focus + label {
    transform: scale(1.03);
  }

  .checkbox-wrapper-23 input + label {
    display: block;
    border: 2px solid #5cd65c6b;
    width: var(--size);
    height: var(--size);
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
  }
    
  .checkbox-wrapper-23 input + label:active {
    transform: scale(1.05);
    border-radius: 12px;
  }
    
  .checkbox-wrapper-23 input + label svg {
    pointer-events: none;
    padding: 5%;
  }

  .checkbox-wrapper-23 input + label svg path {      
    fill: none;     
    stroke: #5cd65c6b;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 100;
    stroke-dashoffset: 101;
    transition: all 250ms cubic-bezier(1,0,.37,.91);
  }

  .checkbox-wrapper-50 *,
  .checkbox-wrapper-50 *::before,
  .checkbox-wrapper-50 *::after {
    box-sizing: border-box;
  }

  .checkbox-wrapper-50 .plus-minus {
    --primary: #5cd65c6b;
    --secondary: #FAFBFF;
    --duration: .5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 240px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 4px solid var(--primary);
    background-size: 300% 300%;
    transition: transform 0.3s;
    transform: scale(var(--scale, 1)) translateZ(0);
    -webkit-animation: var(--name, unchecked-50) var(--duration) ease forwards;
            animation: var(--name, unchecked-50) var(--duration) ease forwards;
    margin: 0;
  }
  .checkbox-wrapper-50 .plus-minus::before,
  .checkbox-wrapper-50 .plus-minus::after {
    content: "";
    position: absolute;
    width: 16px;
    height: var(--height, 16px);
    left: 6px;
    top: var(--top, 6px);
    background: var(--background, var(--primary));
    -webkit-animation: var(--name-icon-b, var(--name-icon, unchecked-icon-50)) var(--duration) ease forwards;
            animation: var(--name-icon-b, var(--name-icon, unchecked-icon-50)) var(--duration) ease forwards;
  }
  .checkbox-wrapper-50 .plus-minus::before {
    -webkit-clip-path: polygon(0 6px, 6px 6px, 6px 0, 10px 0, 10px 6px, 16px 6px, 16px 10px, 10px 10px, 10px 16px, 6px 16px, 6px 10px, 0 10px);
            clip-path: polygon(0 6px, 6px 6px, 6px 0, 10px 0, 10px 6px, 16px 6px, 16px 10px, 10px 10px, 10px 16px, 6px 16px, 6px 10px, 0 10px);
  }
  .checkbox-wrapper-50 .plus-minus::after {
    --height: 4px;
    --top: 12px;
    --background: var(--secondary);
    --name-icon-b: var(--name-icon-a, checked-icon-50);
  }
  .checkbox-wrapper-50 .plus-minus:active {
    --scale: .95;
  }
  .checkbox-wrapper-50 .plus-minus:checked {
    --name: checked-50;
    --name-icon-b: checked-icon-50;
    --name-icon-a: unchecked-icon-50;
  }

  @-webkit-keyframes checked-icon-50 {
    from {
      transform: translateZ(12px);
    }
    to {
      transform: translateX(16px) rotateY(90deg) translateZ(12px);
    }
  }

  @keyframes checked-icon-50 {
    from {
      transform: translateZ(12px);
    }
    to {
      transform: translateX(16px) rotateY(90deg) translateZ(12px);
    }
  }
  @-webkit-keyframes unchecked-icon-50 {
    from {
      transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
    }
    to {
      transform: translateZ(12px);
    }
  }
  @keyframes unchecked-icon-50 {
    from {
      transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
    }
    to {
      transform: translateZ(12px);
    }
  }
  @-webkit-keyframes checked-50 {
    from {
      background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
      background-position: 100% 50%;
    }
    to {
      background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
      background-position: 50% 50%;
    }
  }
  @keyframes checked-50 {
    from {
      background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
      background-position: 100% 50%;
    }
    to {
      background-image: radial-gradient(ellipse at center, var(--primary) 0%, var(--primary) 25%, var(--secondary) 25.1%, var(--secondary) 100%);
      background-position: 50% 50%;
    }
  }
  @-webkit-keyframes unchecked-50 {
    from {
      background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
      background-position: 100% 50%;
    }
    to {
      background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
      background-position: 50% 50%;
    }
  }
  @keyframes unchecked-50 {
    from {
      background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
      background-position: 100% 50%;
    }
    to {
      background-image: radial-gradient(ellipse at center, var(--secondary) 0%, var(--secondary) 25%, var(--primary) 25.1%, var(--primary) 100%);
      background-position: 50% 50%;
    }
  }




    